// Modern-normalize styles
@import '~node_modules/modern-normalize/modern-normalize.css';

// Font styles
.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

// root colors and fonts
:root {
  --font-family: 'Roboto', sans-serif;
  --white: #fff;
  --black: #000;
  --red: #b92f2c;

  //   Footer
  --gray: #545454;

  //   Modal pentru fiecare film(scrisul mic)
  --light-gray: #8c8c8c;

  //   Modal background
  --middle-gray: rgba(0, 0, 0, 0.2);
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

// scoatem marcajele listei
ul {
  list-style-type: none;
  padding: 0;
}

/* setare necesara pentru imagini adaptive */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// scoatem underline la link
a {
  text-decoration: none;
  display: block;
}

//   setam body pe relative pentru celelalte pozitii si modal
body {
  position: relative;
}

//   Classes

// mobile first
.header-container {
  margin: 20px 20px 0;
  height: 460px;
}

.hero-section {
  margin: 20px 20px 40px;
  height: 100%;
}

.page-changer-container {
  width: fit-content;
  margin: 0 auto;
}

.footer-container {
  height: 100px;
  margin-top: 40px;
}

// Media querries

// tablet
@media screen and (width >=768px) {
  .header-container {
    margin: 32px 32px 0;
    height: 222px;
  }

  .hero-section {
    margin: 32px 32px 60px;
  }

  .footer-container {
    height: 79px;
    margin-top: 60px;
  }
}

// desktop
@media screen and (width >=1280px) {
  .header-container {
    height: 316px;
  }

  .footer-container {
    height: 77px;
  }
}
