// Modern-normalize styles
@import '~node_modules/modern-normalize/modern-normalize.css';

// Font styles
.roboto-regular {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
}

// root colors and fonts
:root {
  --font-family: 'Roboto', sans-serif;
  --white: #fff;
  --black: #000;
  --red: #b92f2c;

  //   Footer
  --gray: #545454;

  //   Modal pentru fiecare film(scrisul mic)
  --light-gray: #8c8c8c;

  //   Modal background
  --middle-gray: rgba(0, 0, 0, 0.2);
}

/* Global styles */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

// scoatem marcajele listei
ul {
  list-style-type: none;
  padding: 0;
}

/* setare necesara pentru imagini adaptive */
img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

// scoatem underline la link
a {
  text-decoration: none;
  display: block;
}

//   setam body pe relative pentru celelalte pozitii si modal
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex-grow: 1;
}

//   Classes
.is-hidden {
  display: none;
}

.light-theme {
  background-color: var(--white);
  color: var(--black);
  border-color: var(--black);
}

.dark-theme {
  background-color: var(--gray);
  color: var(--white);
  border-color: var(--white);
}

.empty-list {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  color: var(--red);
  margin-left: auto;
  margin-right: auto;
}

// mobile first
.header-container {
  margin: 20px 20px 0;
  height: 460px;
}

.hero-section {
  margin: 20px 20px 40px;
  height: 100%;
}

.page-changer-container {
  width: fit-content;
  margin: 0 auto;
}

.footer-container {
  height: 100px;
  margin-top: 40px;
}

// Hero modal window

.modal-window {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--middle-gray);
  width: 100%;
  height: 100%;

  // overflow-y: scroll;
  opacity: 1;
  pointer-events: all;
}

.modal-card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 20px 40px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  // flex-shrink: 0;
  // border: 1px solid black;

  z-index: 1001;
  // transform: scale(1.25);
  overflow-y: scroll;
  // transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  z-index: 1002;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  background-color: transparent;
}

.modal-close-icon {
  position: relative;
  z-index: 1002;
  stroke-width: 3px;
  stroke: var(--black);
}

.modal-img {
  margin-bottom: 20px;
  border-radius: 5px;
}

.modal-description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.modal-title {
  color: var(--black);
  font-size: 20px;
  font-weight: 500;
}

.modal-info-movie {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-info-names {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.modal-votes-name,
.modal-popularity-name,
.modal-original-title-name,
.modal-genre-name {
  color: var(--light-gray);
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.modal-info-results {
  display: flex;
  flex-direction: column;
  // gap: 10px;
  align-items: flex-start;
}

.modal-votes-result {
  display: flex;
  justify-content: flex-start;

  color: var(--light-gray);
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
}

.modal-vote {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  flex-shrink: 0;

  border-radius: 5px;
  background: var(--red);

  color: var(--white);
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.modal-votes,
.modal-popularity-result,
.modal-original-title-result,
.modal-genre-result {
  color: var(--black);
  text-align: center;
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  // line-height: normal;
  text-transform: uppercase;
}

.modal-votes {
  margin-left: 7px;
}

.modal-popularity-result {
  margin: 10px 0;
}

.modal-original-title-result {
  margin-bottom: 10px;
}

.modal-genre-result {
  display: flex;
  flex-wrap: wrap;
  text-transform: initial;
}

.modal-aboutcontainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.modal-description-subtitle {
  color: var(--black);
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 133.333% */
  text-transform: uppercase;
}

.modal-movie-description {
  width: 100%;
  height: auto;
  flex-shrink: 0;

  color: var(--black);
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 166.667% */
}

.modal-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.modal-add-to-watched-btn {
  cursor: pointer;
  display: flex;
  padding: 8px 6px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid var(--black);
  background-color: var(--white);

  color: var(--red);
  text-align: center;
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;

  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-add-to-queue-btn {
  cursor: pointer;
  display: flex;
  padding: 8px 6px;
  align-items: flex-start;
  gap: 10px;

  border-radius: 100px;
  border: 1px solid var(--black);
  background-color: var(--white);

  color: var(--red);
  text-align: center;
  // font-family: Roboto;
  font-size: 12px;
  // font-style: normal;
  font-weight: 500;
  // line-height: normal;
  text-transform: uppercase;

  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    text-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-add-to-queue-btn:hover,
.modal-add-to-queue-btn:focus,
.modal-add-to-watched-btn:hover,
.modal-add-to-watched-btn:focus {
  transform: scale(1.02);
  box-shadow: 0px 0px 7px 0px rgba(27, 27, 27, 0.15);
  text-shadow: 0 0 5px white, 0 0 10px #00ffff, 0 0 15px #7fff00, 0 0 20px white;
  background-color: var(--red);
  color: var(--white);
}

// Media querries

// tablet
@media screen and (width >=768px) {
  .header-container {
    margin: 32px 32px 0;
    height: 222px;
  }

  .hero-section {
    margin: 32px 32px 60px;
  }

  .footer-container {
    height: 79px;
    margin-top: 60px;
  }

  .modal-window {
    padding: 150px 32px 60px;
  }

  .modal-card-container {
    flex-direction: row;
    gap: 68px;
    padding: 36px 40px 72px 64px;
    min-width: 618px;
    max-height: 562px;
    overflow-y: initial;
  }

  .modal-img {
    margin-bottom: 0;
  }

  .modal-description-container {
    max-width: 325px;
  }
}

// desktop
@media screen and (width >=1024px) {
  .header-container {
    height: 316px;
  }

  .footer-container {
    height: 77px;
  }

  .modal-window {
    padding: 50px 237px 30px;
  }

  .modal-card-container {
    padding: 40px 12px;
    min-width: 882px;
    max-height: 562px;
  }

  .modal-title {
    font-size: 30px;
  }

  // .modal-description-container {
  //   max-width: 391px;
  // }

  .modal-movie-description {
    min-width: 160px;
  }
}
