.footer-container {
  width: 100%;
  background-color: var(--footer-bg);
  color: #545454;
  text-align: center;
  padding: 28px 42px;
}

.footer-div {
  background-color: var(--footer-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;

  color: var(--gray);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-right: 5px;
  margin-bottom: 12px;
}

.footer-span {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  // padding-top: 29px;
  // padding-bottom: 30px;
  // height: 100px;
}

.footer-second-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.icon {
  margin-left: 10px;
  margin-right: 10px;
  width: 14px;
  height: 12.88px;
  flex-shrink: 0;

  fill: #b92f2c;
}

.footer-modal-button {
  color: #ff6b08;
  cursor: pointer;
}
.footer-modal-button:hover {
  text-decoration: underline;
}

.footer-modal {
  z-index: 1000;
  background-color: var(--middle-gray);
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: all;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
}

.footer-modal-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 48px 20px 40px;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  // flex-shrink: 0;
  // border: 1px solid black;

  z-index: 1001;
  // transform: scale(1.25);
  overflow-y: scroll;
  // transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-close-button {
  z-index: 1100;

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
}

.footer-modal-close-icon {
  position: relative;
  z-index: 1002;
  stroke-width: 3px;
  stroke: var(--black);
}

.form-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: center;
  margin: 0;
  color: var(--black);
}

.footer-modal-ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  color: var(--gray);
  background-color: hsla(0, 0%, 100%, 0.9);
  width: 100%;
  padding: 20px;
  position: relative;
  border-radius: 4px;
}

.footer-modal-list {
  display: flex;
  // flex-direction: column;
  // gap: 10px;
  // justify-content: space-between;
  padding: 5px;
  margin-bottom: 16px;
  background-color: var(--white);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08),
    0 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 0 0 4px 4px;
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-modal-list:hover {
  transform: scale(1.05);
}

.footer-modal-img {
  width: 80px;
  border-radius: 50%;
  border: 2px solid #b92f2c;
  // display: block;
  // max-width: 100%;
  height: 80px;
  margin: 5px;
}

.footer-modal-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  text-align: left;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: normal;
  color: var(--light-gray);
  margin: 0;
  margin-top: 2px;
}

.footer-modal-position {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.12;
  letter-spacing: normal;
  color: #b92f2c;
  padding-top: 4px;
}

@media screen and (width >=768px) {
  .footer-modal-ul {
    gap: 32px;
    flex-direction: row;
  }

  .footer-modal-list {
    width: calc((100% - 32px) / 2);
  }

  .footer-modal-position {
    padding-left: 10px;
    font-size: 14px;
    list-style: 1.33;
  }

  .footer-modal-heading {
    padding-left: 10px;
  }
}

@media screen and (width >=1024px) {
  .footer-modal-card {
    overflow-y: initial;
  }

  .footer-modal-ul {
    row-gap: 32px;
    column-gap: 16px;
    justify-content: flex-start;
  }

  .footer-modal-list {
    width: calc((100% - 32px) / 3);
  }
}
