// mobile first
.scrollToTop {
  background-color: red;
  color: black;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
}

// Media querries

// tablet
// @media screen and (width >=768px) {
// }

// desktop
@media screen and (width >=1024px) {
  .page-up {
    right: 30px;
    bottom: 145;
  }
}
