<footer class="footer-container">
  <div class="footer-div">
    <p class="footer-paragraph">
      <span class="footer-span">©&ensp;</span> 2024 | All Rights Reserved |
    </p>
    <div class="footer-second-container">
      <p class="footer-paragraph">Developed with</p>
      <svg class="icon">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>
      <p class="footer-paragraph footer-modal-button">
        by GoIT students | team: Dream Team
      </p>
    </div>
  </div>

  <!-- MODAL FOOTER -->
  <div class="footer-modal">
    <div class="modal-background">
      <button type="button" class="footer-modal-close-button">
        <svg width="30" height="30" class="footer-modal-close-icon">
          <use href="./images/icons.svg#icon-close-1"></use>
        </svg>
      </button>
      <h2 class="form-title">The project was made by:</h2>
      <ul class="footer-modal-ul">
        <li class="footer-modal-list">
          <img
            src="/src/images/DAIANA.jpg"
            alt="Daiana"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Daiana Velcean</h4>
            <p class="footer-modal-position">Consultant</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img src="/src/images/IANI.png" alt="Iani" class="footer-modal-img" />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Iani Misoc</h4>
            <p class="footer-modal-position">Mentor</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/FLORIN.png"
            alt="Florin"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Florin Constantin</h4>
            <p class="footer-modal-position">Mentor</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img src="/src/images/RADU.jpg" alt="Radu" class="footer-modal-img" />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Radu Naramzoiu</h4>
            <p class="footer-modal-position">Team Lead, Front end developer</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/STEFANIA.jpg"
            alt="Stefania"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Stefania Motea</h4>
            <p class="footer-modal-position">
              Scrum master, Front end developer
            </p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/DRAGOS.jpg"
            alt="Dragos"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Dragos Baba</h4>
            <p class="footer-modal-position">Front end developer</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/DIANA.jpg"
            alt="Diana"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Olaru Diana</h4>
            <p class="footer-modal-position">Front end developer</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/SILVI.png"
            alt="Silvi"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Silvi Mitrica</h4>
            <p class="footer-modal-position">Front end developer</p>
          </div>
        </li>
        <li class="footer-modal-list">
          <img
            src="/src/images/ADRIANA.jpg"
            alt="Adriana"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Nahut Adriana Ingrid</h4>
            <p class="footer-modal-position">Front end developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</footer>
