 <!-- FOOTER -->
<link
      href="../sass/footer.scss"
      rel="stylesheet"
    />
 <footer class="footer-container">
  <div class="footer-section">
    <p class="footer-paragraph">
      <span> &copy; </span> 2023 | All Rights Reserved | Developed with
    </p>
      <svg width="14" height="13" fill ="red" class="footer-svg">
        <use href="./icons.svg#icon-heart"></use>
      </svg>
    <p class="footer-modal-button"> by GoIT students | team: Dream Team</p>
  </div>
  <!-- MODAL FOOTER -->
  <div class="modal">
      <div class="modal-background">
        <button class="footer-close-button" type="button">
      <svg width="12" height="15" fill="white" class="footer-close-button">
           <use href="./icons.svg#icon-cross"></use>
      </svg>
        </button>
         <h2 class="form-title">The project was made by:</h2>
         <ul class="footer-modal-ul">
         <li class="footer-modal-list">
            <img src="/src/images/download.jpg" alt="Radu" class="footer-modal-img">
            <div class="footer-card-content">
                <h4 class="footer-modal-heading"> Radu Naramzoiu</h4>
                <p class="footer-modal-position">Team Lead, Front end developer</p>
            </div>
         </li>
          <li class="footer-modal-list">
            <img src="/src/images/download.jpg" alt="Stefania" class="footer-modal-img">
            <div class="footer-card-content">
                <h4 class="footer-modal-heading">Stefania Motea</h4>
                <p class="footer-modal-position">Scrum master, Front end developer</p>
            </div>
         </li>
          <li class="footer-modal-list">
            <img src="/src/images/download.jpg" alt="Dragos" class="footer-modal-img">
            <div class="footer-card-content">
                <h4 class="footer-modal-heading">Dragos Baba</h4>
                <p class="footer-modal-position">Front end developer</p>
            </div>
         </li>
          <li class="footer-modal-list" >
            <img src="/src/images/download.jpg" alt="Diana" class="footer-modal-img">
           <div class="footer-card-content">
                <h4 class="footer-modal-heading">Olaru Diana</h4>
                <p class="footer-modal-position" >Front end developer</p>
            </div>
         </li>
          <li class="footer-modal-list">
            <img src="/src/images/download.jpg" alt="Silvi" class="footer-modal-img">
            <div class="footer-card-content">
                <h4 class="footer-modal-heading">Silvi Mitrica</h4>
                <p class="footer-modal-position">Front end developer</p>
            </div>
         </li>
          <li class="footer-modal-list">
            <img src="/src/images/download.jpg" alt="Adriana" class="footer-modal-img" >
           <div class="footer-card-content">
                <h4 class="footer-modal-heading">Nahut Adriana Ingrid</h4>
                <p class="footer-modal-position">Front end developer</p>
            </div>
         </li>
         </ul>
</footer>
 <script src="../index.js" style="display: block"></script>

  
