<footer class="footer-container">
  <div class="footer-div">
    <p class="footer-paragraph">
      <span class="footer-span">©&ensp;</span> 2024 | All Rights Reserved |
    </p>
    <div class="footer-second-container">
      <p class="footer-paragraph">Developed with</p>
      <svg class="icon">
        <use href="./images/icons.svg#icon-heart"></use>
      </svg>
      <p class="footer-paragraph footer-modal-button">
        by GoIT students | team: Dream Team
      </p>
    </div>
  </div>

  <!-- MODAL FOOTER -->
  <div class="footer-modal">
    <div class="footer-modal-card">
      <button type="button" class="footer-modal-close-button">
        <svg width="30" height="30" class="footer-modal-close-icon">
          <use href="./images/icons.svg#icon-close-1"></use>
        </svg>
      </button>
      <h2 class="form-title">The project was made by:</h2>
      <div class="footer-modal-ul gallery">
        <a
          class="footer-modal-list"
          href="/src/images/DAIANA.jpg"
          alt="Daiana Velcelean"
          position="Position: Consultant"
        >
          <img
            src="/src/images/DAIANA.jpg"
            alt="Daiana Velcelean"
            position="Position: Consultant"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Daiana Velcelean</h4>
            <p class="footer-modal-position">Consultant</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/IANI.png"
          alt="Iani Misoc"
          position="Position: Mentor"
        >
          <img
            src="/src/images/IANI.png"
            alt="Iani Misoc"
            position="Position: Mentor"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Iani Misoc</h4>
            <p class="footer-modal-position">Mentor</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/FLORIN.png"
          alt="Florin Constantin"
          position="Position: Mentor"
        >
          <img
            src="/src/images/FLORIN.png"
            alt="Florin Constantin"
            position="Position: Mentor"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Florin Constantin</h4>
            <p class="footer-modal-position">Mentor</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/RADU.jpg"
          alt="Radu Naramzoiu"
          position="Position: Team Lead, Front end developer"
          role="Job done: Solving the hardest parts of the project"
        >
          <img
            src="/src/images/RADU.jpg"
            alt="Radu Naramzoiu"
            position="Position: Team Lead, Front end developer"
            role="Job done: Solving the hardest parts of the project"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Radu Naramzoiu</h4>
            <p class="footer-modal-position">Team Lead, Front end developer</p>
            <p class="footer-modal-position">Solving the hardest parts</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          src="/src/images/STEFANIA.jpg"
          alt="Stefania Motea"
          position="Position: Scrum master, Front end developer"
          role="Job done: Trello and presentation of project"
        >
          <img
            src="/src/images/STEFANIA.jpg"
            alt="Stefania Motea"
            position="Position: Scrum master, Front end developer"
            role="Job done: Trello and presentation of the Project"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Stefania Motea</h4>
            <p class="footer-modal-position">
              Scrum master, Front end developer
            </p>
            <p class="footer-modal-position">Trello and Presentation Card</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/SILVI.png"
          alt="Silvi Mitrica"
          position="Position: Front end developer"
          role="Job done: The Header Section"
        >
          <img
            src="/src/images/SILVI.png"
            alt="Silvi Mitrica"
            position="Position: Front end developer"
            role="Job done: The Header Section"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Silvi Mitrica</h4>
            <p class="footer-modal-position">Front end developer</p>
            <p class="footer-modal-position">The Header Section</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/ADRIANA.jpg"
          alt="Nahut Adriana Ingrid"
          position="Position: Front end developer"
          role="Job done: The Hero Section"
        >
          <img
            src="/src/images/ADRIANA.jpg"
            alt="Nahut Adriana Ingrid"
            position="Position: Front end developer"
            role="Job done: The Hero Section"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Nahut Adriana Ingrid</h4>
            <p class="footer-modal-position">Front end developer</p>
            <p class="footer-modal-position">The Hero Section</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/DRAGOS.jpg"
          alt="Dragos Baba"
          position="Position: Front end developer"
          role="Job done: The Page-Changer Section"
        >
          <img
            src="/src/images/DRAGOS.jpg"
            alt="Dragos Baba"
            position="Position: Front end developer"
            role="Job done: The Page-Changer Section"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Dragos Baba</h4>
            <p class="footer-modal-position">Front end developer</p>
            <p class="footer-modal-position">The Page-Changer Section</p>
          </div>
        </a>
        <a
          class="footer-modal-list"
          href="/src/images/DIANA.jpg"
          alt="Diana Olaru"
          position="Position: Front end developer"
          role="Job done: The Footer Section"
        >
          <img
            src="/src/images/DIANA.jpg"
            alt="Diana Olaru"
            position="Position: Front end developer"
            role="Job done: The Footer section"
            class="footer-modal-img"
          />
          <div class="footer-card-content">
            <h4 class="footer-modal-heading">Diana Olaru</h4>
            <p class="footer-modal-position">Front end developer</p>
            <p class="footer-modal-position">The Footer Section</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
