<section id="scroll-to" class="hero-section">
  <div class="gallery"></div>
  <div class="modal-window is-hidden">
    <div class="modal-card-container">
      <button type="button" class="modal-close-button">
        <svg width="30" height="30" class="modal-close-icon">
          <use href="./images/icons.svg#icon-close-1"></use>
        </svg>
      </button>
      <img
        loading="lazy"
        src="./images/no-poster-available.jpg"
        alt="image"
        class="modal-img"
      />

      <div class="modal-description-container">
        <h2 class="modal-title"></h2>
        <div class="modal-info-movie">
          <div class="modal-info-names">
            <p class="modal-votes-name">Vote / Votes</p>
            <p class="modal-popularity-name">Popularity</p>
            <p class="modal-original-title-name">Original Title</p>
            <p class="modal-genre-name">Genre</p>
          </div>
          <div class="modal-info-results">
            <div class="modal-votes-result">
              <span class="modal-vote"></span>
              /
              <span class="modal-votes"></span>
            </div>
            <span class="modal-popularity-result"></span>
            <p class="modal-original-title-result"></p>
            <p class="modal-genre-result"></p>
          </div>
        </div>
        <h3 class="modal-description-subtitle">About</h3>
        <p class="modal-movie-description"></p>
        <div class="modal-btn-container">
          <button type="button" class="modal-add-to-watched-btn">
            add to Watched
          </button>
          <button type="button" class="modal-add-to-watched-btn">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
