<section id="scroll-to" class="hero-section">
  <div class="gallery"></div>
  <div class="modal-window is-hidden">
    <div class="hero-modal-card-container">
      <button type="button" class="hero-modal-close-button">
        <svg width="30" height="30" class="hero-modal-close-icon">
          <use href="./images/icons.svg#icon-close-1"></use>
        </svg>
        <!-- <img
          class="hero-modal-close-icon"
          src="./images/close.png"
          alt="close"
        /> -->
      </button>
    </div>
  </div>
</section>
