<div class="pagination-section">
  <button class="page-btn prev">
    <img src="./images/arrow-left.svg" class="arrow prev" alt="arrow prev" />
  </button>
  <ul class="pagination-btns">
    <li class="page is-hidden">1</li>
    <li class="page active">1</li>
    <li class="dots">...</li>
    <li class="page">13</li>
    <li class="page">14</li>
    <li class="page">15</li>
    <li class="page">16</li>
    <li class="page">17</li>
    <li class="dots">...</li>
    <li class="page">20</li>
  </ul>
  <button class="page-btn next">
    <img src="./images/arrow-left.svg" class="arrow next" alt="arrow next" />
  </button>
</div>
